/*
* . is for classes
* # is for id
*/

body { 
	background-color: #ededdf;
	font-family: 'Chango', cursive;
}

#submit {
	width: 140px;
	height: 40px;
	background: #80b1ea;
	font-family: 'Chango', cursive;
	border-radius: 50px;
}

input {
	border: 2px solid #80b1ea;
	border-radius: 25px;
	padding: 8px 15px;
	background: #f2f2d1;
}

.form {
	text-align: left;
}

.form span {
	border-radius: 20px;
	padding: 8px 15px;
	background: #80b1ea;
}

.welcome {
	text-align: center;
}

button {/*ul.nav button*/
	width: 120px;
	height: 30px;
	background: #80b1ea;
	font-family: 'Chango', cursive;
	border-radius: 50px;
	border: 2px #80b1ea;
	text-decoration: none;
}

a {
	text-decoration: none;
}

#login-box {
	text-align: center;
}